### Question 1: What is the northernmost airport in the United States?
The northernmost airport in United States according to this dataframe is EEN Dillant Hopkins Airport. However, research shows that this information is incorrect. The lattitude and longitute are transposed which makes BRW Wiley Post Will Rogers Memorial Airport the northernmost airport in the United States.

In [1]:
import pandas as pd

url_airports = 'https://raw.githubusercontent.com/hadley/nycflights13/master/data-raw/airports.csv'
airports = pd.read_csv(url_airports)

airports.sort_values(['lat'], ascending = [False]).head(5)

,faa,name,lat,lon,alt,tz,dst,tzone
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9,A,America/Anchorage

### Question 2: What is the easternmost airport in the United States?
The easternmost airport in the United States is EPM Eastport Municipal Airport. The information in this dataframe has been confirmed on Google.com. The first 4 are not in the eastern timezone and therefore cannot be the easternmost airports in the United States.

In [5]:
c.sort_values(['lon'], ascending = [False]).head(5)

,faa,name,lat,lon,alt,tz,dst,tzone
1290,SYA,Eareckson As,52.712275,174.113620,98,-9,A,America/Anchorage
942,MYF,Montgomery Field,32.475900,117.759000,17,8,A,Asia/Chongqing
396,DVT,Deer Valley Municipal Airport,33.411700,112.457000,1478,8,A,Asia/Chongqing
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5,A,America/New_York

### Question 3: On February 12 2013, which New York airport had the windiest weather?
LGA LaGuardia Airport had the windiest weather with wind speeds of 23mph and wind gusts of 31mph.

In [40]:
url_weather = 'https://raw.githubusercontent.com/hadley/nycflights13/master/data-raw/weather.csv'
weather = pd.read_csv(url_weather)

weather[weather.origin.isin(['JFK', 'LGA'])  & (weather.month == 2) & (weather.day == 12) & (weather.year == 2013)].sort_values(['wind_speed'], ascending = [False]).head(10)

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
18417,LGA,2013,2,12,2,42.98,26.06,50.94,290.0,23.01560,31.07106,0.0,1007.1,10.0,2013-02-12T07:00:00Z
18428,LGA,2013,2,12,13,44.06,23.00,43.02,300.0,21.86482,25.31716,0.0,1011.7,10.0,2013-02-12T18:00:00Z
18429,LGA,2013,2,12,14,44.06,23.00,43.02,300.0,20.71404,25.31716,0.0,1011.5,10.0,2013-02-12T19:00:00Z
9717,JFK,2013,2,12,8,42.08,24.08,48.56,280.0,20.71404,27.61872,0.0,1011.6,10.0,2013-02-12T13:00:00Z
18427,LGA,2013,2,12,12,44.06,23.00,43.02,270.0,19.56326,26.46794,0.0,1011.8,10.0,2013-02-12T17:00:00Z
18416,LGA,2013,2,12,1,44.06,30.92,59.64,270.0,19.56326,28.76950,0.0,1006.6,10.0,2013-02-12T06:00:00Z
9716,JFK,2013,2,12,7,39.92,26.06,57.33,270.0,19.56326,NaN,0.0,1010.9,10.0,2013-02-12T12:00:00Z
18433,LGA,2013,2,12,18,41.00,21.92,46.23,260.0,17.26170,24.16638,0.0,1014.7,10.0,2013-02-12T23:00:00Z
18425,LGA,2013,2,12,10,42.98,23.00,44.83,270.0,17.26170,26.46794,0.0,1011.6,10.0,2013-02-12T15:00:00Z
9721,JFK,2013,2,12,12,44.06,24.98,46.73,280.0,17.26170,NaN,0.0,1012.4,10.0,2013-02-12T17:00:00Z